.wrapper {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

    #sidebar.active {
        margin-left: -250px;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }
}

/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif !important;
    background: #fafafa;
    font-size: 12px !important;
}

label {
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}

.form-control {
    margin-bottom: 0px !important;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit !important;
    text-decoration: none;
    transition: all 0.3s;
}

.gj-datepicker [role="right-icon"] {
    cursor: pointer;
    margin-top: 0px !important;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #004990;
    color: #fff;
    transition: all 0.3s;
}

    #sidebar .sidebar-header {
        padding: 20px;
        background: #004990;
    }

    #sidebar ul.components {
        padding: 20px 0;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        display: block;
    }

        #sidebar ul li a:hover {
            color: black !important;
            background: white;
        }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #004990;
    }

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #004990;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

/*Rotating border*/

@keyframes spinner-border {
    to {
        transform: rotate(360deg);
    }
}

.spinner-border {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    text-indent: -999em;
    vertical-align: text-bottom;
    border: .25em solid;
    border-color: currentColor transparent currentColor currentColor;
    border-radius: 50%;
    animation-name: spinner-border;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spinner-border-reverse {
    border-color: transparent currentColor transparent transparent;
    &::after

{
    position: absolute;
    top: -.25em;
    right: -.25em;
    bottom: -.25em;
    left: -.25em;
    display: inline-block;
    content: "";
    border: .25em solid rgba(0, 0, 0, .1);
    border-radius: 50%;
}

}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em;
    &.spinner-border-reverse::after

{
    border-width: .2em;
}

}


/* Growing circle*/

@keyframes spinner-grow {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.spinner-grow {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    text-indent: -999em;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    animation-name: spinner-grow;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.spinner-grow-sm {
    width: 1rem;
    height: 1rem;
}

.requerido {
    border-color: red;
}

.ui-datepicker-trigger {
    position: relative;
    left: 110px;
    top: -40px;
}

.preview-box {
    padding: 15px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #e6e6e6;
    margin: 15px;
}

.modal:nth-of-type(odd) {
    z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

.iconos {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.explicacion {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #004990;
}

select {
    height: 24px;
}

.divRequeridoRadio {
    border: 1px solid red;
}

.requerido:before {
    content: " *";
    color: red;
}
